<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'home'|trans }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        <script src="https://kit.fontawesome.com/24368e6b70.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {% block stylesheets %}
        {% endblock %}
        <script src="{{asset('assets/js/script.js')}}" defer></script> 
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>  
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
    </head>
    
    <body>
        {% include "_partials/_nav.html.twig" %}
        {% include "_partials/_flash.html.twig" %}
        {% block body %}{% endblock %}
        {% block back_to_home %}
            {% if app.request.attributes.get('_route') != 'app_main' %}
                <div class="mb-5 p-3 container">
                    <div class="row justify-content-center">
                        <a href="{{ path('app_main')}}" class="btn btn btn-outline-primary m-1 col-3">{{ 'return'|trans}}</a>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        {% include "_partials/_footer.html.twig" %}
        
        <!-- Scripts jQuery et DataTables -->
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.11.5/i18n/French.json"></script>
        <script src="{{asset('assets/js/script.js')}}"></script>
        
        {% block javascripts %}
        <script>
        //supprimer une tâche en utilisant sweetalert2
            var deleteButtons = document.querySelectorAll('.deleteLink');
            deleteButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                event.preventDefault(); 
                Swal.fire({
                    title: 'Êtes-vous sûr de vouloir supprimer cette tâche ?',
                    text: "Cette action est irréversible !",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#007bff',
                    confirmButtonText: 'Oui, supprimer',
                    cancelButtonText: 'Annuler'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = this.href;
                    }
                });
                });
            });

            //Modifier la langue en envoyant une requête depuis le DOM
            
            document.addEventListener("DOMContentLoaded", function() {
    var linkLang = document.getElementById("linkIcon");
    linkLang.addEventListener("click", function(event) {
        event.preventDefault(); // Empêcher le comportement de lien par défaut
        var newLang = this.dataset.lang === 'en' ? 'fr' : 'en'; // Inversion de la langue
        var newPath = "/change-language/" + newLang; // Chemin d'accès avec la nouvelle langue
        var newIconSrc = this.dataset.lang === 'en' ? "{{ asset('assets/uploads/france.png') }}" : "{{ asset('assets/uploads/royaume-uni.png') }}"; // Nouveau chemin d'icône
        
        var xhr = new XMLHttpRequest();
        xhr.open("GET", newPath);
        xhr.onload = function() {
            if (xhr.status === 200) {
                // La requête s'est terminée avec succès
                document.getElementById("iconLanguage").src = newIconSrc; // Mise à jour de la source de l'icône
                window.location.href = newPath; // Redirection vers la nouvelle page
            } else {
                // Gérer les erreurs éventuelles
                console.error("Erreur lors de la requête XMLHttpRequest.");
            }
        };
        xhr.send();
    });
});

            //Ajouter une catégorie en utilisant SweetAlert2

            const categoryAddPath = '{{ path('categories_category_add') }}'; 
            var addBtn = document.getElementById('addBtn');            
            if (addBtn) {
            addBtn.addEventListener('click', function(event) {
                event.preventDefault();

                Swal.fire({
                    title: 'Ajouter une nouvelle catégorie',
                    input: 'text',
                    inputPlaceholder: 'Titre de la catégorie',
                    inputAttributes: {
                        name: 'Titre' 
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Ajouter',
                    cancelButtonText: 'Annuler',
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(categoryAddPath, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ Titre: result.value }),
                        }).then(response => {
                            if (response.ok) {
                                Swal.fire('Succès!', 'La catégorie a été créée.', 'success').then((result) => {
                                    if (result.isConfirmed) {
                                        // Recharger la page
                                        window.location.reload();
                                    }
                                });
                            } else {
                                Swal.fire('Erreur!', 'Une erreur est survenue lors de la création de la catégorie.', 'error');
                            }
                        }).catch(error => {
                            console.error(error);
                            Swal.fire('Erreur!', 'Une erreur réseau est survenue.', 'error');
                        });
                    }
                });
            });
            }
            
        </script> 
        {% endblock %}
    </body>
</html>
