{% extends 'base.html.twig' %}

{% block title %}Détails du produit :
	{{ product.name }}
{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Détails du produit : {{ product.name }}</h1>
            </div>
            <div class="col-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
					{# Pour chercher le nbr d'images et afficher les btns #}
                        {% for iteration in 1..product.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                    {% for image in product.images %}
					{# loop.first c'est la meme chose que loop.index0 ici on a fait une condition ternerre on aurai pu faire avc if else #}
					{# <div class="carousel-item {{ ( loop.index0 == 0 ) ? 'active' : '' }}"> #}
						<div class="carousel-item {{ (loop.first) ?'active' : '' }}">
                                <img src="{{ asset('assets/uploads/') ~ image.name }}" class="d-block w-100" alt="{{ product.name }}">
                        </div>
                        
                    {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <p>{{ product.description }}</p>
				{# on utilise la relation qui est dans Entity/Products - attribut : categories  #}
                <p>Catégorie : {{ product.categories.name }}</p>
				{# Le prix dans la BDD est en centime du coup on devise par 100 #}
                <p>Prix : {{ product.price / 100 }} €</p>
				{# condition pour l'affichage du btn pour l'ajout au panier selon le stock dispo (dans bdd) #}
                {% if product.stock > 0 %}
                    <a href="" class="btn btn-success">Ajouter au panier</a>
                {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
